<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean name="departmentBean" class="Constructor.Department">
    <constructor-arg name="departmentName" value="Mechanical"/>
</bean>

    <bean name="employeeBean" class="Constructor.Employee">
        <constructor-arg name="name" value="Prakhar Bansal"/>
        <constructor-arg name="department" ref="departmentBean"/>
    </bean>
</beans>